@media only screen and (max-width: 564px) {
    body {
        margin-top: -120px;
    }
    .main-h1 {
        margin-left: 0px;
        font-size: 50px;
    }
    .minimum-req {
        margin-top: -30px;
    }
    .recommended-req {
        margin-top: -25px;
    }
    .sys-req-txt {
        font-size: 15px;
    }
    .first_p {
        font-size: 17px;
        -webkit-text-stroke-width: 0.9px;
    }
}